@charset "UTF-8";

@media screen and (min-width: 600px) and (max-width: 799px){
    main{
        width: 80vw;
    }
    main div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    #conteudo{
        float: right;
        width: 70%;
        transform: translateY(50%);
    }
}
@media screen and (min-width: 800px){
    main{
        width: 900px;
    }
    main div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    #conteudo{
        float: right;
        width: 50%;
    }
}